/*Header ENCBEZADO*/

/*
.header-heading {
    font-size: 2rem;
}

.header-text {
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.btn {
    padding: 10px;
    font-size: 16px;
    margin-top: 1.3rem;
}

